<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lender: Список клиентов</title>
</head>
<body>
    <h1>Список клиентов.</h1>
    <table>
        <thead>
            <tr>
                <th>имя</th>
                <th>фамилия</th>
                <th>отчество</th>
                <th>номер паспорта</th>
                <th>номер телефона</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer: ${customers}">
                <td th:text="${customer.name}" />
                <td th:text="${customer.surname}" />
                <td th:text="${customer.patronymic}" />
                <td th:text="${customer.passportNumber}" />
                <td th:text="${customer.phoneNumber}" />
            </tr>
        </tbody>
    </table>

</body>
</html>