<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
    <h1>Create loan request.</h1>
    <form action="#" th:action="@{/loan/request/create}" th:object="${loanRequestDto}" method="post">
        <p>Имя: <input type="text" th:field="*{name}" /></p>
        <p>Фамилия: <input type="text" th:field="*{surname}" /></p>
        <p>Отчество: <input type="text" th:field="*{patronymic}"/></p>
        <p>Номер паспорта: <input type="text" th:field="*{passportNumber}"/></p>
        <p>Адресс: <input type="text" th:field="*{address}"/></p>
        <p>Номер телефона: <input type="text" th:field="*{phoneNumber}" /></p>
        <p>Дата начала работы: <input type="date" th:field="*{employmentStartDate}"/> </p>
        <p>Должность: <input type="text" th:field="*{post}"/></p>
        <p>Организация: <input type="text" th:field="*{organizationName}"/> </p>
        <p><input type="submit" value="Submit" /> </p>
    </form>
</body>
</html>