<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lender: All Loan Contracts</title>
</head>
<body>
    <nav>
        <div th:insert="~{navigation :: nav}"></div>
    </nav>
    <table>
    <thead>
        <tr>
            <th>Id</th>
            <th>ФИО</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="contract: ${contracts}">
            <td th:text="${contract.id}"/>
            <td th:text="${contract.customer.name} + ' ' + ${contract.customer.surname} + ' ' + ${contract.customer.patronymic}"/>
            <td th:text="${contract.loanContractStatus}"/>
            <td th:text="${contract.loanRequest.desiredLoanAmount}"/>
            <td th:text="${contract.loanAmount}"/>
            <td th:text="${contract.loanPeriodInDays}"/>
            <td th:switch="${contract.loanContractStatus}">
                <span th:case="${T(ru.testtask.lender.types.LoanContractStatus).UNSIGNED}">
                    <a th:href="'/lender/loan/contract/' + ${contract.id} + '/sign'"/>Подписать</a>
                </span>
                
                <span th:case="${T(ru.testtask.lender.types.LoanContractStatus).SIGNED}">
                    Подписан
                </span>
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>