<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Заявка</h1>
    <form action="#" th:action="@{/loan/request}" th:object="${loanRequestDTO}" method="post">
        <p>Имя: <input type="text" th:field="*{name}" /></p>
        <p>Фамилия: <input type="text" th:field="*{surname}" /></p>
        <p>Отчество: <input type="text" th:field="*{patronymic}" /></p>
        <p><input type="submit" value="Submit" /> </p>
    </form>
</body>
</html>